*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.popup {

    display: none;
    position: fixed;
    bottom: 0px;
    right: 40rem;
    border: 3px solid #f1f1f1;
    z-index: 9;

}


.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}


.form-container input[type=text], .form-container input[type=date] {
    width: 200%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover, .open-button:hover {
        opacity: 1;
}

.popup h3 {
    text-align: center;
}

#home-popup {
    top: 15px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    ;
}

.content-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}