@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.popup {

    display: none;
    position: fixed;
    bottom: 0px;
    right: 40rem;
    border: 3px solid #f1f1f1;
    z-index: 10;

}


.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}


.form-container input[type=text], .form-container input[type=date], #priority, #status {
    width: 200%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}


.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: red;
}


.form-container .btn:hover, .open-button:hover {
        opacity: 1;
}

.popup h3 {
    text-align: center;
}

#home-popup {
    top: 15px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);    ;
}

.content-table tr {
    /* background-color: #009879; */
    /* color: #fff; */
    text-align: left;
    /* font-weight: bold; */
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

/* .content-table tr {
    border-bottom: 1px solid #dddddd;
} */

.content-table tr:nth-of-type(even){
    background-color: #f3f3f3;
}

/* .content-table tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.content-table thead tr:first-of-type {
    border-bottom: 2px solid #009879;
    background-color: #009879;
    color: #fff;
    font-weight: bold;
}

.list-group-item .remove-item  {
    color: red;
}

.list-group-item a {
    justify-content: left;
}

#project-table ul li {
    color: #555;
}

.list-group li a{
    align-items: flex-start;
}

/* @import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");
*,
*::before,
*::after {
  box-sizing: border-box;
} */


:root {
    --clr-light: #fff1c4;
    --clr-dark: #330000;
    --clr-primary: #b0a2ff;
    --clr-secondary: #c3fcf2;
    --clr-success: #5cb85c;
    --clr-table-light: #b5fffa;
    --clr-table-dark: #fd5b5b;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --ff-title: "Playfair Display", serif;
    --ff-body: "Assistant", sans-serif;
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #0e0036;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-success: #ff7750;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    
}



body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--ff-body);
    font-size: 18px;
    line-height: 1.6;
}

h5 {
    font-size: calc(1.5rem + 0.5vw);
    font-family: var(--ff-title);
    margin: 0 0 0.25em;
    line-height: 1;
    }

.subtitle {
    max-width: 600px;
}

.btn-group {
    margin: 2em 0;
    display: relative;
}

.btn {
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    line-height: 1;
}

.btn + .btn {
    margin-left: 1em;
}

.btn-success {
    background: var(--clr-success);
    color: var(--foreground);
}

.list-group li {
    background: var(--clr-table-light);
    color: var(--foreground);
}

.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--foreground) 2px solid;
    left: -4px;
    top: 4px;
    border-radius: inherit;
    z-index: -1;
}

.intro {
    height: 80vh;
    padding: 10em 0;
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
    background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
    align-content: center;
}

.intro > * {
    grid-column: 2 / 3;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

hr {
        background-color: #c3fcf2;
        opacity: 0.3;
}
